.main {
  margin-left: 200px;
  padding: 20px;
  flex: 1;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

/* Header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.title {
  font-weight: bold;
}
