.courseCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.courseCard.collapsed {
  max-height: 100px;
  overflow: hidden;
}

.courseCard.expanded {
  max-height: 500px; /* Or use 'none' for full expansion */
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContent {
  display: flex;
  flex-direction: column;
}

.actions {
  position: absolute;
  top: 19px;  /* Distance from the top */
  right: 19px; /* Distance from the right */
  display: flex;
  flex-direction: column;  /* Align buttons vertically */
  gap: 10px;  /* Space between buttons */
  justify-content: flex-start; /* Align the buttons from top */
}

.toggleButton {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s ease;
}

.toggleButton:focus {
  outline: none;
}

.editButton,
.deleteButton {
  padding: 0.5em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editButton {
  color: #4CAF50; /* Green color for edit */
}

.editButton:hover {
  background-color: #e8f5e9;
}

.deleteButton {
  color: #f44336; /* Red color for delete */
}

.deleteButton:hover {
  background-color: #ffebee;
}

.editButton svg,
.deleteButton svg {
  font-size: 1em; /* Adjust icon size */
}

.courseName {
  font-size: 1.25rem;
  font-weight: bold;
}

.courseSchedule,
.courseDescription,
.courseTerm {
  font-size: 0.9rem;
  color: #666;
}

.mainSection {
  margin-top: 16px;
}

.assignments, .studyPlans {
  margin-bottom: 16px;
}

.courseCard ul {
  list-style: none;
  padding: 0;
}

.courseCard li {
  margin-bottom: 8px;
}
