.dashboard {
  padding: 2rem;
}

.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.dashboardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  position: relative;
}

.card h2 {
  margin-bottom: 1rem;
}

.totalTime {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  pointer-events: none; /* Prevent hover effects over the center */
}

.legend {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.colorBox {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  display: inline-block;
}

.streaksContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.streakIcon {
  display: inline-block;
}

.streaksContainer p {
  text-align: center;
  margin-top: 10px;
}
