body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Calendar config (MUST BE HERE)

/* React Big Calendar overrides */
.rbc-calendar {
  background-color: #f9f9f9; /* Light grey */
  border-radius: 4px;
}

.rbc-event {
  background-color: #333; /* Dark grey */
  color: #fff;
  font-weight: normal;
  border: none;
  border-radius: 4px;
  padding: 2px 6px;
  text-align: center;
}

.rbc-event:hover {
  background-color: #555; /* Slightly lighter grey for hover */
}

.rbc-toolbar {
  background-color: #fff; /* White */
  color: #333; /* Dark grey */
  padding: 8px;
  border-radius: 4px 4px 0 0;
}

.rbc-toolbar button {
  background: #e0e0e0; /* Light grey */
  color: #333; /* Dark grey */
  border: none;
  border-radius: 4px;
  padding: 5px 8px;
  cursor: pointer;
}

.rbc-toolbar button:hover {
  background: #ccc; /* Lighter grey for hover */
}

.rbc-today {
  background-color: #fafafa; /* Very light grey for current day */
}
